							{{#queue}}
                                                        <tr class='player'{{#currentUser}} id='currentUser'{{/currentUser}}>
                                                                <td class='user'>
                                                                        <div class='league'>{{summoner}}</div>
                                                                </td>
                                                                <td class='record'>
                                                                        <span class='totalWins'>{{wins}}</span>
                                                                </td>
                                                        </tr>
							{{/queue}}

