<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='./assets/css/bootstrap.css' />
		<link rel='stylesheet' type='text/css' href='./assets/css/lan.css' />
	</head>
	<body>
		
		<div id='wrapper' class='row-fluid'>
		    <div class='span4'>
			    <div class='pane'>
			        <div class='pane-content'>
				        <h2>Queue</h2>
				        <table id='queue'>
					        <tbody>
						        <tr class='player'>
							        <td class='user'>
								        <div class='league'>SolzenTheGreat</div>
							        </td>
							        <td class='record'>
								        <span class='totalWins'>412</span>
							        </td>
						        </tr>
						        <tr class='player'>
							        <td class='user'>
								        <div class='league'>Bendej0</div>
							        </td>
							        <td class='record'>
								        <span class='totalWins'>609</span>
							        </td>
						        </tr>
						        <tr class='player'>
							        <td class='user'>
								        <div class='league'>hunglung1</div>
							        </td>
							        <td class='record'>
								        <span class='totalWins'>808</span>
							        </td>
						        </tr>
						        <tr class='player'>
							        <td class='user'>
								        <div class='league'>A Winterbell</div>
							        </td>
							        <td class='record'>
								        <span class='totalWins'>718</span>
							        </td>
						        </tr>
					        </tbody>
				        </table>
				    </div>
				</div>
			</div>
		    <div class='span4'>
			    <div class='pane' id='matches'>
			        <div class='pane-content'>
	    			    <h2>Matches Being Set Up</h2>
				    </div>
				</div>
			</div>
		    <div class='span4'>
			    <div class='pane' id='activeMatches'>
			        <div class='pane-content'>
    				    <h2>Active Matches</h2>
    				    {{data}}
				    </div>
				</div>
			</div>
		</div>
		
		<div id='header'>
			<button id='play'>Play</button>
			<!--<button id='callGroup'>Call Group</button>-->
		</div>
		<script>
				var callButton = document.getElementById('callGroup');
				
				if (callButton) {
					var callGroup = data.skypeGroup;
					var getMyCallGroup = function() {
						return callGroup.filter(function(element, index){
							return element !== currentUser.skype;
						});
					};
					callButton.addEventListener('click', function(event){
						window.open('callto://' + getMyCallGroup().join(';'));
					});
				}
				
			})();
		</script>
	
	</body>
</html>
